$border-size: 60px;

#top-border,
#bottom-border,
#left-border,
#right-border {
    background-color: white;
    position: fixed;
    z-index: 999;
}

#left-border,
#right-border {
    align-items: center;
    bottom: 0;
    display: flex;
    margin: $border-size 0;
    top: 0;
    width: $border-size;
}

#top-border,
#bottom-border {
    height: $border-size;
    left: 0;
    right: 0;
}

#left-border {
    left: 0;
    transition: all .2s ease;

    p {
        cursor: pointer;
        display: inline-block;
        font-size: 24px;
        margin-left: 20px;
    }

    #menu-label {
        display: none;
        font-size: 10px;
        margin: 0;
        right: 0px;
        transform: rotate(-90deg);
    }

    &:hover {
        width: 75px;

        #menu-label {
            display: inline-block;
        }
    }
}

#right-border {
    justify-content: center;
    right: 0;
    text-align: center;

    #social-icons {
        p {
            margin: 10px;
        }

        a {
            transition: all 100ms linear;
            color: black;

            &.facebook:hover {
                color: rgb(59, 89, 151);
            }

            &.twitter:hover {
                color: rgb(28, 178, 232);
            }

            &.instagram:hover {
                color: rgb(253, 73, 46);
            }
        }
    }
}

#top-border {
    align-items: center;
    display: flex;
    padding-left: $border-size;
    top: 0;

    #border-title {
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 0.5rem;
        margin: 0px;
        text-transform: uppercase;
    }
}

#bottom-border {
    bottom: 0;
}