#body {
  background-color: #f8f8f8;
  margin: 60px;
  width: calc(100% - 60px * 2);
}
#body #hello-world-container {
  align-items: center;
  display: flex;
  height: calc(100vh - 60px * 2);
  justify-content: center;
  position: fixed;
  text-align: center;
  transition: all 1s ease;
  width: calc(100% - 60px * 2);
}
#body #hello-world-container * {
  transition: all 1s ease;
}
#body #hello-world-label {
  color: #f8f8f8;
  font-family: "Source Code Pro", monospace;
  font-size: 8rem;
  font-weight: 900;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
#body #left-feature-div {
  height: calc(2 * 100vh - 120px);
  width: 50%;
  transition: all 0.8s ease;
}
#body #left-feature-div #scroll-label {
  font-size: 10px;
  writing-mode: tb-rl;
  position: fixed;
  color: #f8f8f8;
  bottom: 100px;
  left: 46vw;
  margin: 0;
  transition: all 0.5s ease-in;
}
#body #top-content {
  position: sticky;
  top: 40vh;
  height: calc(60vh - 60px);
  margin-left: 10vw;
}
#body #top-content h3 {
  font-size: 32px;
  margin: 0;
}
#body #top-content p {
  color: white;
  margin: 4px 0;
}
#body .full-size {
  width: 100% !important;
}
#body .no-show {
  margin-left: 100% !important;
  overflow-x: hidden;
}
#body .no-display {
  bottom: -5vh !important;
}
#body .content-section {
  padding: 5% 10%;
}
#body #projects-section .project {
  margin: 100px 0;
}
#body #projects-section .project-image-container,
#body #projects-section .project-content-container {
  display: inline-block;
  vertical-align: middle;
}
#body #projects-section .project-image-container {
  width: 59%;
}
#body #projects-section .project-image-container img {
  width: 100%;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#body #projects-section .project-content-container {
  width: 40%;
}
#body #projects-section .project-content-container h3 {
  font-size: 36px;
}
#body #projects-section .project-content-container .project-description {
  width: 120%;
  margin: 20px 0 20px -10%;
  z-index: 100;
  position: relative;
}
#body #projects-section .project-content-container .project-description p {
  margin: 0;
}
#body #projects-section .project-content-container ul {
  list-style-type: none;
  padding: 0;
}
#body #projects-section .project-content-container ul li {
  display: inline-block;
  padding: 10px;
  margin: 0 12px;
}
#body .right-align {
  text-align: right;
}
#body .right-align .project-description {
  margin: 20px 0 20px -20% !important;
}
#body #bio-section #photo-and-bio {
  text-align: center;
  margin-top: 50px;
}
#body #bio-section #photo-and-bio img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
#body #bio-section #photo-and-bio p {
  text-align: justify;
  max-width: 600px;
  margin: 50px auto;
}
#body #bio-section #bio-cards {
  text-align: center;
}
#body #bio-section #bio-cards .bio-card {
  vertical-align: top;
  text-align: left;
  box-sizing: border-box;
  display: inline-block;
  width: 31%;
  margin: 0 1%;
}

.visible {
  display: block !important;
  transition: opacity 0.5s linear !important;
}

.hidden {
  display: none;
  transition: opacity 0.5s linear;
}

.bar {
  height: 4px;
  width: 100px;
  margin: 20px 0;
  background-color: #404040;
  transition: all 1s ease;
}

.bar-larger {
  width: 200px;
}

.card {
  background-color: white;
  padding: 25px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.19), 0 1px 2px 0 rgba(0, 0, 0, 0.18);
}

/*# sourceMappingURL=body.css.map */
